.success {
  height: 70px;
  background-color: greenyellow;
  border: 2px solid green;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  height: 70px;
  background-color: lightcoral;
  border: 2px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
}
